{% from _self  import btn %}
{% set primarySite = craft.app.sites.primarySite %}
{% if entry.id and  entry.siteId  != primarySite.id and entry.isDraft %}
    {% set headerHtml %}
        {{ btn(entry.id, primarySite, entry.site) }}
    {% endset %}

    {{ headerHtml|raw }}

    {#{% js %}
        $('#header .flex-nowrap').append(`
        <div>{{ headerHtml|raw }}</div>`);
    {% endjs %}#}
{% endif %}

{% macro btn(id, from, to) %}
    <a class="btn submit"
       href='{{ cpUrl("translate/translateentry/#{id}/#{from.id}/#{to.id}") }}?isDraft=1'>
        {{ 'Translate'|t('translate') }} {{ from.handle }} &gt; {{ to.handle }}</a>
{% endmacro %}
