{# params from route: entryId, siteFromId, siteToId #}

{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entryFrom \craft\elements\Entry #}
{# @var entryTo \craft\elements\Entry #}
{# @var entry \craft\elements\Entry #}
{% import '_includes/forms' as forms %}
{% from 'translate/macros/translate.twig' import heading %}
{% from 'translate/macros/translate.twig' import content %}
{% from 'translate/macros/translate.twig' import blockField %}
{% from 'translate/macros/translate.twig' import supertableField %}
{% from 'translate/macros/translate.twig' import matrixField %}



{% requirePermission 'accessPlugin-translate' %}

{% extends "_layouts/cp" %}

{% set siteFrom = craft.app.sites.siteById(siteFromId) %}
{% if not siteFrom %}
    {% exit 404 %}
{% endif %}
{% set siteTo = craft.app.sites.siteById(siteToId) %}
{% if not siteTo %}
    {% exit 404 %}
{% endif %}

{% set query = craft.entries.id(entryId).drafts(true).anyStatus().siteId(siteFrom.id) %}


{% set entryFrom = query.one() %}
{% if not entryFrom %}
    {% exit 404 %}
{% endif %}

{% set query = craft.entries.anyStatus().drafts(true).id(entryId).siteId(siteTo.id) %}


{% set entryTo = entry is defined ? entry : query.one() %}

{% set title = 'Translate ' ~ entryFrom.section.name ~ ': ' ~ entryFrom.title %}
{% set fullPageForm = true %}

{% set editUrl = cpUrl("entries/#{entryFrom.section.handle}/#{entryFrom.id}", {site: entryFrom.site.handle, draftId: entryFrom.draftId}) %}

{% set config = craft.app.plugins.plugin('translate').settings %}

{% block actionButton %}
    <a class="btn" style="margin-right: 8px;" href="{{ editUrl }}">{{ 'Cancel'|t('app') }}</a>
    <input type="submit" class="btn submit" value="{{ 'Save Translation'|t('app') }}">
{% endblock %}

{% block content %}

    {% if entry is defined %}
        <div style="font-weight:bold; color:red">There is an error!</div>
        <ul>
            {% for attr, errors in entry.errors %}
                {% for error in errors %}
                    <li>{{ attr }}: <span style="color:red">{{ error }}</span></li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    {{ csrfInput() }}
    {{ actionInput('translate/translate/save-entry') }}
    {{ redirectInput(editUrl) }}
    <input type="hidden" name="sectionId" value="{{ entryFrom.section.id }}">
    <input type="hidden" name="entryId" value="{{ entryFrom.id }}">
    <input type="hidden" name="siteId" value="{{ siteTo.id }}">
    <input type="hidden" name="isDraft" value="1">
    <input type="hidden" name="editUrl" value="{{ editUrl }}">


    <table class="data" style="font-weight:bold" width="95%">
        <tr>
            <td width="47%" style="vertical-align: top">
                {{ 'From'|t('translate') }} {{ siteFrom.name }} ({{ siteFrom.language }})
            </td>
            <td width="6%" style="vertical-align: top"></td>
            <td width="47%" style="vertical-align: top">
                {{ 'To'|t('translate') }} {{ siteTo.name }} ({{ siteTo.language }})
            </td>
        </tr>
    </table>

    {{ heading('Title', true) }}
    {{ content(entryFrom.title, entryTo.title, false , "title") }}

    {{ heading('Slug', true) }}
    {{ content(entryFrom.slug, entryTo.slug, false , "slug") }}

    {% for tab in entryFrom.fieldLayout.tabs if tab.name != 'Status' %}


        <h1 style="margin-top: 20px">{{ tab.name }}</h1>
        {% for field in tab.fields %}
            {% switch className(field) %}

            {% case 'craft\\fields\\PlainText' %}
                {% if field.translationMethod in ['language','site'] %}
                    {{ heading(field.name, field.required) }}
                    {{ content(entryFrom[field.handle], entryTo[field.handle], field.multiline, "fields[#{field.handle}]", field.required) }}
                {% endif %}
            {% case 'craft\\fields\\Url' %}
                {% if field.translationMethod in ['language','site'] %}
                    {{ heading(field.name, field.required) }}
                    {{ content(entryFrom[field.handle], entryTo[field.handle], false, "fields[#{field.handle}]") }}
                {% endif %}
            {% case 'craft\\fields\\Matrix' %}
                {{ matrixField(entryFrom, entryTo, field, config) }}
            {% case 'verbb\\supertable\\fields\\SuperTableField' %}
                {{ supertableField(entryFrom, entryTo, field, config) }}
            {% default %}
                {% for extraField in config.extraTextFields %}
                	{% if className(field) == extraField %}
                        {{ heading(field.name, field.required) }}
                        {{ content(entryFrom[field.handle], entryTo[field.handle], 1, "fields[#{field.handle}]", field.required) }}
                    {% endif %}
                {% endfor %}
            {% endswitch %}

        {% endfor %}
    {% endfor %}


{% endblock %}

{% block details %}

    <div style="margin:12px;">
        <table class="data fullwidth collapsible">
            <tbody>
            <tr>
                <th class="light">Enabled</th>
                <td>
                    <span class="status {{ entryFrom.enabled ? 'live' }}"></span>
                    <span class="status {{ entryFrom.enabledForSite ? 'live' }}"></span>
                </td>
            </tr>


            </tbody>
        </table>

    </div>


{% endblock %}

{% js %}
    {% include 'translate/js/translate.js' %}
{% endjs %}



