{# params from route: entryId, siteFromId, siteToId #}

{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entryFrom \craft\elements\Entry #}
{# @var entryTo \craft\elements\Entry #}
{# @var entry \craft\elements\Entry #}
{% import '_includes/forms' as forms %}
{% from 'translate/macros/translate.twig' import heading %}
{% from 'translate/macros/translate.twig' import content %}



{% requirePermission 'accessPlugin-translate' %}

{% extends "_layouts/cp" %}

{% set entryFrom = translateEntry.source %}

{% set title = 'Translate ' ~ entryFrom.section.name ~ ': ' ~ entryFrom.title %}
{% set fullPageForm = true %}

{% set editUrl = cpUrl("entries/#{entryFrom.section.handle}/#{entryFrom.id}", {site: entryFrom.site.handle, draftId: entryFrom.draftId}) %}

{% set config = craft.app.plugins.plugin('translate').settings %}


{% block actionButton %}
    <a class="btn" style="margin-right: 8px;" href="{{ editUrl }}">{{ 'Cancel'|t('app') }}</a>
    <input type="submit" class="btn submit" value="{{ 'Save Translation'|t('app') }}">
{% endblock %}

{% block content %}

    {% if entry is defined %}
        <div style="font-weight:bold; color:red">There is an error!</div>
        <ul>
            {% for attr, errors in entry.errors %}
                {% for error in errors %}
                    <li>{{ attr }}: <span style="color:red">{{ error }}</span></li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    {{ csrfInput() }}
    {{ actionInput('translate/translate/save-entry') }}
    {{ redirectInput(editUrl) }}
    <input type="hidden" name="sectionId" value="{{ entryFrom.section.id }}">
    <input type="hidden" name="entryId" value="{{ entryFrom.id }}">
    <input type="hidden" name="siteId" value="{{ translateEntry.siteTo.id }}">
    <input type="hidden" name="isDraft" value="1">
    <input type="hidden" name="editUrl" value="{{ editUrl }}">


    <table class="data" style="font-weight:bold" width="95%">
        <tr>
            <td width="47%" style="vertical-align: top">
                {{ 'From'|t('translate') }} {{ translateEntry.siteFrom.name }} ({{ translateEntry.siteFrom.language }})
            </td>
            <td width="6%" style="vertical-align: top"></td>
            <td width="47%" style="vertical-align: top">
                {{ 'To'|t('translate') }} {{ translateEntry.siteTo.name }} ({{ translateEntry.siteTo.language }})
            </td>
        </tr>
    </table>

    {% if entryFrom.type.hasTitleField %}
        {{ heading('Title', 'field') }}
        {{ content(entryFrom.title, translateEntry.target.title , "title") }}
    {% endif %}

    {{ heading('Slug', 'field') }}
    {{ content(entryFrom.slug, translateEntry.target.slug , "slug") }}

    {% for item in translateEntry.items %}
        {{ heading(item.caption, item.type) }}
        {% if item.type == 'field' %}
            {% if not item.isSimpleField %}
                <input type="hidden" name="{{ item.blockType.name }}" value="{{ item.blockType.value }}">
            {% endif %}
            {{ content(item.sourceValue, item.targetValue, item.formName, item.field.required) }}
        {% endif %}
    {% endfor %}


{% endblock %}

{% block details %}

    <div style="margin:12px;">
        <table class="data fullwidth collapsible">
            <tbody>
            <tr>
                <th class="light">Enabled</th>
                <td>
                    <span class="status {{ entryFrom.enabled ? 'live' }}"></span>
                    <span class="status {{ entryFrom.enabledForSite ? 'live' }}"></span>
                </td>
            </tr>


            </tbody>
        </table>

    </div>


{% endblock %}

{% js %}
    {% include 'translate/js/translate.js' %}
{% endjs %}



