{% macro heading(title, type='field') %}
    <div class="field">
        {% switch type %}

        {% case "tab" %}
            <h1>{{ title }}</h1>
        {% case "matrix" %}
            <h2>{{ title }}</h2>
        {% case "block" %}
            <h3>{{ title }}</h3>
        {% default %}
            <div class="heading"><label>{{ title }}</label></div>
        {% endswitch %}

    </div>
{% endmacro %}

{% macro content(value1, value2, name, required=false ) %}
    {% from _self import translationLinks %}
    {% if value1 %}
        <table class="data" width="95%">
            <tr>
                <td width="47%" style="vertical-align: top">
                    <div id="{{ name }}_from">{{ value1|nl2br }}</div>

                </td>
                <td width="6%" style="vertical-align: top">{{ translationLinks(value1, name, '') }}</td>
                <td width="47%" style="vertical-align: top">
                <textarea id="{{ name }}_to" class="text nicetext fullwidth" {{ required?'required' }} name="{{ name }}"
                          rows="1"
                          style="width:100%">{{ value2 }}</textarea>
                    {% if value1 == value2 %}
                        <span style="color:red">Translation needed??</span>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% else %}
        Empty, nothing to translate
    {% endif %}
{% endmacro %}

{% macro translationLinks(text,name,label) %}
    <a href="javascript:translateGoogle('{{ name }}')" class="go">{{ label }}</a>
{% endmacro %}
